@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h4>Usuarios Registrados</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 ms-2">
        <a href="@Url.Action("Formulario", "Usuario")"> <i class="bi bi-person-add" style="font-size: 3em; color:forestgreen"></i></a>
    </div>
</div>


